<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{% if title %}
	<title>{{title}} - Seed Count App</title>
	{% else %}
	<title> Seed Count App</title>
	{% endif %}

	<!-- Stylesheet and favicon -->
	<link rel="stylesheet" href="static/css/style.css" type="text/css" />
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">

	<!-- get CDN version of jQuery or else use local version -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script> window.jQuery || document.write('<script scr="{{url_for('static', filename='jquery.js')}}">\x3C\script>')</script>
	<script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
	<script src="../static/js/spin.js"></script>
	
</head>
<body>
<nav id="nav">
	<div id="nav-inner">

		<ul id="navigation">
		<li><a href="/index">File</a>
    			<ul>
      			<li><a href="/capture-image">Capture Image</a></li>
      			<li><a href="" onclick="document.getElementById('upload-input').click(); return false">Select Image</a></li>
    			</ul>
  		</li>
	</ul>
	</div><!-- nav-inner -->
</nav><!-- nav -->
<div id="content-outer"><!-- content -->
	<div id="content-inner"><!-- content -->	
	{% block content %} {% endblock %}
	</div><!-- content inner -->
</div><!-- content-outer -->

<!-- hidden file upload form -->
<form id="upload-form"  action="/upload_image" method="post" enctype="multipart/form-data">
<input id="upload-input"  type="file" name="file">
</form>
<!-- hidden file upload form -->

<script>
		document.getElementById('upload-input').onchange = function(){//submit the form when a file has been selected
			document.getElementById('upload-form').submit();
		}		

</script>

</body>
</html>